.new-top-list-container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
  display: flex; /* Flexbox a jobb elrendezésért */
  flex-direction: column; /* Elemek oszlopban */
  gap: 15px; /* Távolság az elemek között */
}

/* Material form-field szélessége */
mat-form-field {
  width: 100%;
}

/* Gomb igazítása */
button {
  margin: 0 auto; /* Középre igazítás */
}